@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

#app {
  margin: 0 auto;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f2f5;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: inherit;
  background-color: inherit;
  height: 100vh;
  overflow: hidden;
}
